/* -- MOBILE VIEW CSS RULES - DEFAULT -- */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
.container {
    margin: 1rem;
}

.container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container ul li {
    margin: 0 0 1rem 0;
}

.container ul img {
    width: 100%;
    height: auto;
    display: block;
}

h1{
    text-align: center;
}

p{
    margin-left: 20px;
}

a {
     margin-left: 20px;
     width: auto;
    }


/* -- TABLET VIEWPORT-- */
@media screen and (min-width: 600px) and (max-width: 1200px){
    
    .container ul::after {
        content: "";
        display: block;
        clear: left;
    }
    
    
    .container ul li {
      
        width: calc(50% - 0.5rem);
        float: left;
        margin: 0 1rem 1rem 0;
    }
    
   
    .container ul li:nth-child(2n) {
        margin: 0 0 1rem 0;
    }
    
    p{
        margin-left: 20px;
    }

    a {
         margin-left: 20px;
         width: auto;
    }
}




/* -- DESKTOP VIEWPORT-- */
@media screen and (min-width: 1200px) {
    
    .container {
        width: 75%;
        margin: 0 auto
    }
    
    .container ul:after {
        content: "";
        display: block;
        clear: left;
    }
    
    .container ul li {
        width: calc(25% - 0.75rem);
        float: left;
        margin: 0 1rem 1rem 0;
    }
    
    .container ul li:nth-child(4n) {
        margin: 0 0 1rem 0;
    }
    
    p{
        margin-left: 185px;
    }

    a {
        margin-left: 185px;
        display: block;
        width: auto;
    }


}










